    body {
        background-color: black; 
    }
    .btn-primary, .btn-success, .form-control {
        background-color: #333; 
        color: white; /
    }
    .lead {
        color: rgb(234, 64, 64);
    }
    body {
        background-color: black;
        color: black;
        margin: 0; 
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    h1 {
        color: white;
    }
    #display {
        background-color: black; 
        color: red; 
    }